Django==1.7.4
argparse==1.2.1
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-cors-headers==1.0.0
django-debug-toolbar==1.2.2
django-extensions==1.5.0
django-suit==0.2.12
django-toolbelt==0.0.1
djangorestframework==3.0.5
docopt==0.4.0
gunicorn==19.2.1
ipdb==0.8
ipython==2.4.1
mailchimp==2.0.9
psycopg2==2.6
requests==2.6.0
six==1.9.0
sqlparse==0.1.14
static3==0.5.1
wsgiref==0.1.2
